/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/.preview
preview
oh-package-lock.json5
code-linter.json5
__pycache__
*.pyc
.gradle
.externalNativeBuild
.vscode
.DS_Store
Thumbs.db
*.log
logs
*.tmp
coverage
dist
out
*.iml
/detail
/shell
*.xls
*.xlsx
*.xlsm
/material
*.csr
*.p12
*.cer
*.p7b
